@import "../styles/constants";

.completionslist-item {
  font-size: $autocomplete-text-size;
  width: 100%;
  height: $item-size;
  text-align: left;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.completionslist-item-selected {
  background-color: rgba(128, 134, 141, 0.16);
}

.completionslist-item-searched {
  color: #9669be;
}

.completionslist-separator {
  margin: 5px 0;
  border-top: 1px solid $border-color;
  width: 100%;
}
