@import "../styles/constants";

.completionslist-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: $item-size;

  padding: $searchbox-padding;
  box-sizing: border-box;

  font-size: $autocomplete-text-size;
  text-align: left;
  user-select: none;

  &.selected {
    background-color: rgba(128, 134, 141, 0.16);
  }

  &.searched {
    color: #9669be;
  }
}

.completionslist-separator {
  position: relative;
  width: 100%;

  padding: $searchbox-padding;
  padding-top: 0;

  box-sizing: border-box;

  div {
    margin: 5px 0;
    border-top: 1px solid $border-color;
    width: 100%;
  }
}
