.resultslist-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;

  .item {
    text-align: left;
    margin-top: 2rem;

    .header {
      text-decoration: none;

      .origin {
        font-size: 1rem;
        color: black;
      }

      .title {
        margin-block: 0 0;
        font-size: 1.5rem;
        text-decoration: underline;
        font-weight: 400;
      }
    }

    .description {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }
}
