.resultslist-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;

  .item {
    text-align: left;

    &:not(:first-of-type) {
      margin-top: 2rem;
    }

    &:first-of-type {
      margin-top: 1rem;
    }

    .header {
      text-decoration: none;

      .origin {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.6);
      }

      .title {
        margin-block: 0 0;
        font-size: 1.5rem;
        text-decoration: underline;
        font-weight: 400;
      }
    }

    .description {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }
}
