@import "../styles/constants";

.searchbox-input {
  height: $item-size;
  padding: $searchbox-padding;
  border: none;
  font-size: $autocomplete-text-size;
  outline: none;
}

.searchbox-locator {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  height: $item-size;
}

.searchbox-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 45%;
  top: 0;

  margin-top: 3rem;
  border: 1px solid $border-color;
  border-radius: 24px;

  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  outline: none;
  overflow: hidden;

  &:focus,
  &.searchbox-container-results-displayed,
  &:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(128, 134, 141, 0.16);
  }
}
